.header {
  position: fixed;
  top: -20px;
  right: 0px;
  height: 20vh;
  width: 100%;
}
@media (min-width: $large) {
  .header {
    max-width: 100%;
    @include flex(column, flex-start, flex-start);
  }
}
