//colors
$dark-blue: #315f79;
$light-gray: #f3f3f3;
$dark-gray: #dedede;

//fonts
$font-main: "Montserrat", sans-serif;
$accent: "Sriracha", cursive;

//transition
$transition: all 500ms ease-out;

//mediaQueries
$large: 750px;
